/*
    ### Primary

--Dark cyan: hsl(158, 36%, 37%)
--Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

###font
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(30, 38%, 92%);
}
header{
    display: flex;
    background-color: white;
    width: 768px;
    height: 537px;
    align-items: center;
    border-radius: 15px;
    margin: auto;
    margin-top: 250px;
}
.main{
    
    padding: 30px;
    width: 50%;
}

.text h3{
   color: hsl(228, 12%, 48%);
}
.text h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 52px;
    margin-top: 20px;
}
.text p{
    color: hsl(228, 12%, 48%);
    margin-top: 20px;
    font-size: 18px;
}
.buy{
    margin-top: 20px;
}

.buy span{
    color: hsl(158, 36%, 37%);
    font-size: 40px;
    font-family: 'Fraunces', serif;
}
.buy del{
    color: hsl(228, 12%, 48%); 
    font-size: 18px;
    margin-left: 20px;

}

button{
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    padding: 20px 100px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    color: white;
    border: none;

}
button:hover{
    transition: 1s;
    background-color: rgb(46, 78, 46);
}

.btn{
    padding: 10px;
}
button span{
    padding: 1px;
    font-family: 'Fraunces', serif;
    font-size: 18px;
}
button svg{
    padding: 1px;
}
